<h2 class="content-block">Produto</h2>
<div class="content-block dx-card responsive-paddings">

  <dx-form [(formData)]="produto">

    <dxi-item dataField="id" editorType="dxTextBox" [editorOptions]="{width: 80, readOnly: true}"></dxi-item>
    <dxi-item dataField="codigo" [label]="{text: 'Codigo'}" [editorOptions]="{width: 100}"></dxi-item>
    <dxi-item dataField="nome" template="nomeTemplate"></dxi-item>

    <div *dxTemplate="let data of 'nomeTemplate'"> <dx-text-box [(value)]="data.component.option('formData')[data.dataField]" width="400"></dx-text-box></div>
    <dxi-item dataField="validade" dataType="date" editorType="dxDateBox" [editorOptions]="{width: 200}"></dxi-item>

    <dxi-item dataField="fabricacao" dataType="date" editorType="dxDateBox" [editorOptions]="{width: 200}"></dxi-item>
    <dxi-item dataField="tipo" editorType="dxTextBox" [editorOptions]="{width: 400}"></dxi-item>
    <dxi-item dataField="lote" editorType="dxTextBox" [editorOptions]="{width: 400}"></dxi-item>
    <dxi-item dataField="preco" editorType="dxTextBox" [editorOptions]="{width: 100}"></dxi-item>

    <dxi-item itemType="group" [colCount]="2">
      <dxi-item template="gravaButtonTemplate"></dxi-item>
      <dxi-item template="deleteButtonTemplate"></dxi-item>
    </dxi-item>

    <div *dxTemplate="let data of 'gravaButtonTemplate'">
      <dx-button (onClick)="clickBotao()"
                 class = posicao
                 text="Gravar"
                 modal-transclude="90"
                 height="50"
                 type="success"
                 [useSubmitBehavior]="true">
      </dx-button>
    </div>

    <div *dxTemplate="let data of 'deleteButtonTemplate'">
      <dx-button (onClick)="clickBotao2()"
                 class = posicaoDelete
                 text="Deletar"
                 modal-transclude="90"
                 height="50"
                 type="success"
                 [useSubmitBehavior]="true">
      </dx-button>
    </div>
  </dx-form>

  <dx-data-grid
    (onSelectionChanged)="getDataRow($event)"
    [dataSource]="lista"
    [showBorders]="true">

    <dxo-selection mode="single"></dxo-selection>

    <dxi-column dataField="id" [allowEditing]="false"></dxi-column>
    <dxi-column dataField="nome"></dxi-column>
    <dxi-column dataField="codigo"></dxi-column>
    <dxi-column dataField="validade"></dxi-column>
    <dxi-column dataField="fabricacao"></dxi-column>
    <dxi-column dataField="tipo"></dxi-column>
    <dxi-column dataField="lote"></dxi-column>
    <dxi-column dataField="preco"></dxi-column>
  </dx-data-grid>
</div>

